Repository spesmilo/electrum, pull requests merged in 2018-11, with the labels that each got.

#4827 implement oneserver option for kivy
  electrum/gui/kivy/main_window.py
  electrum/gui/kivy/uix/ui_screens/network.kv
  electrum/network.py
  setup.py
Labels: OS-android, topic-network

#4775 Show description (label) in TxDialog screen when opened from History
  electrum/gui/qt/history_list.py
Labels: user-interface

#4864 android: build apk using new python3 p4a toolchain
  electrum/gui/kivy/Readme.md
  electrum/gui/kivy/data/java-classes/org/electrum/qr/SimpleScannerActivity.java
  electrum/gui/kivy/tools/buildozer.spec
  electrum/util.py
Labels: OS-android, build/packaging

#4724 use system language by default
  electrum/gui/qt/__init__.py
  electrum/gui/qt/util.py
Labels: user-interface

#4869 [macOS] Added optional code signing capability to the OSX build scripts.
  contrib/build-osx/base.sh
  contrib/build-osx/make_osx
Labels: OS-mac, build/packaging

#4873 android docker build
  contrib/make_apk
  electrum/gui/kivy/Makefile
  electrum/gui/kivy/Readme.md
  electrum/gui/kivy/tools/Dockerfile
  electrum/gui/kivy/tools/buildozer.spec
Labels: OS-android, build/packaging

#4838 keystore: stronger pbkdf for encryption
  electrum/crypto.py
  electrum/keystore.py
  electrum/plugins/digitalbitbox/digitalbitbox.py
  electrum/tests/test_bitcoin.py
Labels: security
