Repository spesmilo/electrum, pull requests merged in 2018-12, with the labels that each got.

#4875 WIP: Trezor 0.11
  contrib/build-wine/deterministic.spec
  contrib/osx/osx.spec
  electrum/plugins/hw_wallet/plugin.py
  electrum/plugins/trezor/__init__.py
  electrum/plugins/trezor/client.py
  electrum/plugins/trezor/clientbase.py
  electrum/plugins/trezor/qt.py
  electrum/plugins/trezor/transport.py
  electrum/plugins/trezor/trezor.py
Labels: hw-trezor

#4901 win/mac build: strip parts of pyqt5 from binaries to reduce size
  contrib/build-wine/deterministic.spec
  contrib/osx/osx.spec
Labels: OS-mac, OS-windows, build/packaging

#4880 2fa segwit (from ghost43's PR)
  electrum/base_wizard.py
  electrum/bitcoin.py
  electrum/plugins/trustedcoin/qt.py
  electrum/plugins/trustedcoin/trustedcoin.py
  electrum/storage.py
  electrum/tests/test_wallet_vertical.py
  electrum/version.py
Labels: plugin-trustedcoin

#4828 wallet: try detecting internal address corruption
  electrum/gui/kivy/main_window.py
  electrum/gui/kivy/uix/screens.py
  electrum/gui/qt/address_list.py
  electrum/gui/qt/main_window.py
  electrum/gui/qt/request_list.py
  electrum/util.py
  electrum/wallet.py
Labels: security

#4916 new interface ref. #4540 fix #4676
  electrum/gui/qt/seed_dialog.py
  electrum/plugins/revealer/__init__.py
  electrum/plugins/revealer/qt.py
Labels: plugin-revealer

#4938 mac: build qr scanner using old xcode
  contrib/osx/README.md
  contrib/osx/make_osx
Labels: OS-mac, build/packaging

#4945 network: put NetworkTimeout constants together
  electrum/interface.py
  electrum/network.py
Labels: topic-network
