Repository spesmilo/electrum, pull requests merged in 2019-03, with the labels that each got.

#5152 Freeze individual UTXOs
  electrum/address_synchronizer.py
  electrum/commands.py
  electrum/gui/qt/address_list.py
  electrum/gui/qt/main_window.py
  electrum/gui/qt/util.py
  electrum/gui/qt/utxo_list.py
  electrum/wallet.py
Labels: topic-wallet, user-interface

#5162 android all currencies with history checkbox
  electrum/exchange_rate.py
  electrum/gui/kivy/uix/dialogs/fx_dialog.py
Labels: OS-android, exchange rate, user-interface

#5211 Add Bylls BTC/CAD rates
  electrum/currencies.json
  electrum/exchange_rate.py
Labels: exchange rate
