Repository spesmilo/electrum, pull requests merged in 2019-02, with the labels that each got.

#5039 transaction: change default version to 2
  electrum/tests/test_wallet_vertical.py
  electrum/transaction.py
  electrum/wallet.py
Labels: topic-transactions

#5040 contrib/make_tgz: small improvements
  contrib/make_tgz
Labels: OS-linux 🐧, build/packaging

#5042 binaries for Linux: AppImage
  .travis.yml
  contrib/build-linux/appimage/Dockerfile
  contrib/build-linux/appimage/README.md
  contrib/build-linux/appimage/apprun.sh
  contrib/build-linux/appimage/build.sh
  contrib/build-wine/prepare-wine.sh
  contrib/build_tools_util.sh
  contrib/osx/base.sh
Labels: OS-linux 🐧, build/packaging

#5140 Add support for Ledger Nano X and future devices
  electrum/plugins/ledger/ledger.py
Labels: hw-ledger

#5118 Trezor: implement "seedless" mode
  electrum/plugins/keepkey/keepkey.py
  electrum/plugins/safe_t/safe_t.py
  electrum/plugins/trezor/qt.py
  electrum/plugins/trezor/trezor.py
Labels: hw-trezor
