Repository spesmilo/electrum, pull requests merged in 2019-01, with the labels that each got.

#4991 Fix ledger transaction version
  electrum/plugins/ledger/ledger.py
Labels: hw-ledger

#4957 Add flag --skipmerklecheck
  electrum/commands.py
  electrum/verifier.py
Labels: topic-network

#4967 wallet: randomise locktime of transactions a bit. also check if stale.
  electrum/blockchain.py
  electrum/tests/test_wallet_vertical.py
  electrum/wallet.py
Labels: topic-wallet

#4997 Give visual feedback while starting
  electrum.desktop
Labels: Qt, enhancement, user-interface
