Repository spesmilo/electrum, pull requests merged in 2019-09, with the labels that each got.

#5628 Digital BitBox: Fix sending to self
  electrum/plugins/digitalbitbox/digitalbitbox.py
Labels: hw-digitalbitbox

#5432 Add from_coins arg to payto/paytomany
  electrum/commands.py
Labels: CLI/RPC

#5652 config: no longer singleton. it is passed to Wallet.__init__
  electrum/commands.py
  electrum/daemon.py
  electrum/gui/kivy/main_window.py
  electrum/gui/qt/__init__.py
  electrum/gui/qt/qrcodewidget.py
  electrum/gui/qt/qrtextedit.py
  electrum/gui/stdio.py
  electrum/gui/text.py
  electrum/lnchannel.py
  electrum/lnsweep.py
  electrum/lnworker.py
  electrum/plugins/trustedcoin/trustedcoin.py
  electrum/scripts/quick_start.py
  electrum/simple_config.py
  electrum/sql_db.py
  electrum/tests/__init__.py
  electrum/tests/test_bitcoin.py
  electrum/tests/test_blockchain.py
  electrum/tests/test_bolt11.py
  electrum/tests/test_commands.py
  electrum/tests/test_dnssec.py
  electrum/tests/test_lnchannel.py
  electrum/tests/test_lnhtlc.py
  electrum/tests/test_lnpeer.py
  electrum/tests/test_lnrouter.py
  electrum/tests/test_lntransport.py
  electrum/tests/test_lnutil.py
  electrum/tests/test_mnemonic.py
  electrum/tests/test_network.py
  electrum/tests/test_revealer.py
  electrum/tests/test_simple_config.py
  electrum/tests/test_storage_upgrade.py
  electrum/tests/test_transaction.py
  electrum/tests/test_util.py
  electrum/tests/test_wallet.py
  electrum/tests/test_wallet_vertical.py
  electrum/tests/test_x509.py
  electrum/wallet.py
  run_electrum
Labels: topic-config
