Repository spesmilo/electrum, pull requests merged in 2020-03, with the labels that each got.

#5898 Add command line option to forget config on exit.
  electrum/commands.py
  electrum/simple_config.py
Labels: topic-config

#6014 add 'cryptography' as optional dependency; clean README and sdist
  .travis.yml
  README.rst
  contrib/deterministic-build/requirements-binaries.txt
  contrib/deterministic-build/requirements.txt
  contrib/requirements/requirements-binaries.txt
  contrib/requirements/requirements.txt
  electrum/crypto.py
  electrum/lnonion.py
  electrum/lntransport.py
  electrum/tests/test_bitcoin.py
  electrum/tests/test_lnpeer.py
  electrum/tests/test_lnrouter.py
  electrum/tests/test_lntransport.py
  setup.py
  tox.ini
Labels: build/packaging, dependencies, docs

#6054 Readme: Clarify dependencies of make_libsecp256k1.sh
  README.rst
Labels: build/packaging, dependencies, docs

#6062 wizard: add a warning to multisig wallet creation to backup xpubs
  electrum/gui/kivy/uix/dialogs/installwizard.py
  electrum/gui/qt/installwizard.py
Labels: topic-wizard, user-interface
