Repository spesmilo/electrum, pull requests merged in 2020-04, with the labels that each got.

#6050 lnmsg rewrite, implement TLV, invoice features, varonion, payment secret
  electrum/channel_db.py
  electrum/lightning.json
  electrum/lnaddr.py
  electrum/lnchannel.py
  electrum/lnmsg.py
  electrum/lnonion.py
  electrum/lnpeer.py
  electrum/lnrouter.py
  electrum/lnutil.py
  electrum/lnwire/README.md
  electrum/lnwire/onion_wire.csv
  electrum/lnwire/peer_wire.csv
  electrum/lnworker.py
  electrum/tests/test_bolt11.py
  electrum/tests/test_lnmsg.py
  electrum/tests/test_lnpeer.py
  electrum/tests/test_lnrouter.py
  electrum/tests/test_lnutil.py
Labels: lightning ⚡

#6064 trezor: bump lib version, implement new passphrase-on-device UI
  contrib/requirements/requirements-hw.txt
  electrum/plugins/trezor/__init__.py
  electrum/plugins/trezor/clientbase.py
  electrum/plugins/trezor/cmdline.py
  electrum/plugins/trezor/qt.py
  electrum/plugins/trezor/trezor.py
Labels: hw-trezor

#5993 BitBox02 Electrum plugin support
  contrib/build-wine/deterministic.spec
  contrib/deterministic-build/requirements-hw.txt
  contrib/osx/osx.spec
  contrib/requirements/requirements-hw.txt
  contrib/udev/53-hid-bitbox02.rules
  contrib/udev/54-hid-bitbox02.rules
  contrib/udev/README.md
  electrum/bitcoin.py
  electrum/gui/icons/bitbox02.png
  electrum/gui/icons/bitbox02_unpaired.png
  electrum/gui/qt/main_window.py
  electrum/gui/qt/util.py
  electrum/plugin.py
  electrum/plugins/bitbox02/__init__.py
  electrum/plugins/bitbox02/bitbox02.py
  electrum/plugins/bitbox02/qt.py
  electrum/plugins/coldcard/cmdline.py
  electrum/plugins/coldcard/coldcard.py
  electrum/plugins/coldcard/qt.py
  electrum/plugins/digitalbitbox/digitalbitbox.py
  electrum/plugins/hw_wallet/plugin.py
  electrum/plugins/keepkey/keepkey.py
  electrum/plugins/ledger/ledger.py
Labels: hw-digitalbitbox

#6086 Hard fail on bad server-string
  electrum/network.py
Labels: topic-network

#6094 Add --serverfingerprint option
  electrum/commands.py
  electrum/gui/qt/main_window.py
  electrum/interface.py
Labels: topic-network

#6114 qt network dialog: merge "Overview" and "Servers" tabs
  electrum/gui/qt/network_dialog.py
Labels: user-interface
