Repository spesmilo/electrum, pull requests merged in 2020-12, with the labels that each got.

#6820 Use os._exit() for FORKed child browser opener process. Fixes #6404.
  electrum/gui/qt/util.py
Labels: build/packaging 📦

#6828 dependencies: require dnspython 2.0, require cryptography 2.6, drop python-ecdsa
  README.rst
  contrib/deterministic-build/requirements-binaries-mac.txt
  contrib/deterministic-build/requirements-binaries.txt
  contrib/deterministic-build/requirements-build-mac.txt
  contrib/deterministic-build/requirements-hw.txt
  contrib/deterministic-build/requirements.txt
  contrib/requirements/requirements-binaries.txt
  contrib/requirements/requirements.txt
  electrum/dnssec.py
  electrum/tests/test_bitcoin.py
  electrum/tests/test_dnssec.py
  run_electrum
  setup.py
Labels: dependencies 🧩

#6300 qt StatusBarButton: use QToolButton instead of QPushButton
  electrum/gui/qt/main_window.py
  electrum/gui/qt/stylesheet_patcher.py
  electrum/gui/qt/util.py
Labels: Qt, user-interface 🔲

#6736 appimage build: build most of our python dependencies from source
  contrib/build-linux/appimage/build.sh
  contrib/deterministic-build/requirements-hw.txt
Labels: OS-linux 🐧, build/packaging 📦

#6838 mnemonic: tighten seed_type check for old "2fa" type seeds
  electrum/mnemonic.py
  electrum/plugins/trustedcoin/trustedcoin.py
Labels: mnemonic/seed 🌼

#6843 build: don't allow setuptools to sneakily install build-time deps
  contrib/build-linux/appimage/build.sh
  contrib/build-linux/sdist/build.sh
  contrib/build-wine/prepare-wine.sh
  contrib/build_tools_util.sh
  contrib/osx/make_osx
  setup.cfg
Labels: build/packaging 📦, reproducible/deterministic builds

#6857 wallet_db: impl convert_version_33: put 'height' field into invoices
  electrum/invoices.py
  electrum/wallet_db.py
Labels: topic-walletstorage 💾

#6867 wallet: fix bump_fee and dscancel for "not all inputs ismine" case
  electrum/gui/kivy/uix/dialogs/tx_dialog.py
  electrum/gui/qt/history_list.py
  electrum/gui/qt/main_window.py
  electrum/tests/test_wallet_vertical.py
  electrum/transaction.py
  electrum/wallet.py
Labels: topic-wallet 👛
