Repository spesmilo/electrum, pull requests merged in 2020-08, with the labels that each got.

#6517 fix the coldcard multi-sig show address issue
  electrum/plugins/coldcard/coldcard.py
Labels: hw-coldcard

#6219 Automated BIP39 Recovery
  electrum/base_wizard.py
  electrum/bip39_recovery.py
  electrum/bip39_wallet_formats.json
  electrum/constants.py
  electrum/gui/kivy/uix/dialogs/installwizard.py
  electrum/gui/qt/bip39_recovery_dialog.py
  electrum/gui/qt/installwizard.py
  electrum/scripts/bip39_recovery.py
Labels: mnemonic/seed, topic-wizard

#6471 trezor: use `init_device` instead of `ping` to check connection
  electrum/plugins/trezor/clientbase.py
Labels: hw-trezor
