Repository spesmilo/electrum, pull requests merged in 2020-07, with the labels that each got.

#6309 plugins/bitbox02: fix compatibility with bitbox02-4.0.0
  contrib/requirements/requirements-hw.txt
  electrum/plugins/bitbox02/bitbox02.py
Labels: hw-digitalbitbox

#6293 Ledger : Remove warning on Segwit inputs and newer Bitcoin application, use ge…
  contrib/requirements/requirements-hw.txt
  electrum/plugins/ledger/ledger.py
Labels: hw-ledger

#6315 interface: check server response for some methods
  electrum/interface.py
  electrum/network.py
  electrum/synchronizer.py
  electrum/util.py
Labels: topic-network

#6316 android: fix back button not working (main surface loses focus)
  contrib/android/Dockerfile
  electrum/gui/kivy/main_window.py
Labels: OS-android, do-not-merge

#6386 bitbox02: implement get_soft_device_id so multisig runs more smoothly
  electrum/plugins/bitbox02/bitbox02.py
Labels: hw-digitalbitbox
