Repository spesmilo/electrum, pull requests merged in 2021-01, with the labels that each got.

#6922 Export full derivation paths for Coldcard v3.2.1
  electrum/plugins/coldcard/README.md
  electrum/plugins/coldcard/coldcard.py
Labels: hw-coldcard

#6806 Wizard: do not ask seed type, default to segwit
  electrum/base_wizard.py
  electrum/commands.py
  electrum/plugins/trustedcoin/trustedcoin.py
Labels: mnemonic/seed 🌼, topic-wizard 🧙‍♂️

#6805 Kivy: use the same password for all wallets
  electrum/gui/kivy/main_window.py
  electrum/gui/kivy/uix/dialogs/installwizard.py
  electrum/gui/kivy/uix/dialogs/password_dialog.py
  electrum/gui/kivy/uix/dialogs/settings.py
  electrum/gui/kivy/uix/dialogs/wallets.py
  electrum/wallet.py
  run_electrum
Labels: OS-android🤖

#6965 qt block explorer: allow custom URL
  electrum/gui/qt/settings_dialog.py
  electrum/util.py
Labels: block-explorer 🧭
