Repository spesmilo/electrum, pull requests merged in 2021-02, with the labels that each got.

#6981 Fix windows build(travis)
  .travis.yml
Labels: OS-windows 🪟, build/packaging 📦

#7004 Fix ledger sign message
  electrum/plugins/ledger/ledger.py
Labels: hw-ledger

#7030 windows build: update gnupg(2.2.19-3ubuntu2.1)
  contrib/build-wine/Dockerfile
Labels: OS-windows 🪟, build/packaging 📦

#7041 invoices: validate 'amount' not to be out-of-bounds
  electrum/invoices.py
  electrum/lnaddr.py
  electrum/wallet_db.py
Labels: topic-invoice-payreq

#7026 wallet: refactor bump_fee; add new strategy; change Qt dialog to have "advanced" button
  electrum/coinchooser.py
  electrum/gui/qt/main_window.py
  electrum/gui/qt/rbf_dialog.py
  electrum/tests/test_transaction.py
  electrum/tests/test_wallet_vertical.py
  electrum/transaction.py
  electrum/wallet.py
Labels: topic-wallet 👛, user-interface 🔲

#6968 Added fiat fee estimate to Advanced Preview
  electrum/gui/qt/main_window.py
  electrum/gui/qt/transaction_dialog.py
Labels: exchange rate 📈, topic-fees, user-interface 🔲
