Repository spesmilo/electrum, pull requests merged in 2022-03, with the labels that each got.

#7692 Add support for Ledger Nano S Plus
  electrum/plugins/ledger/ledger.py
Labels: hw-ledger

#7693 bitbox02: bump dependency to v6.0.0, support sending to taproot
  contrib/requirements/requirements-hw.txt
  electrum/bitcoin.py
  electrum/plugins/bitbox02/bitbox02.py
Labels: hw-digitalbitbox

#7689 BUGFIX: invalid client loaded for identical wallet with different HW type
  electrum/plugin.py
Labels: hw-generic

#7697 build: rm need for sudo in most places; and do not run as root
  contrib/android/Dockerfile
  contrib/android/Readme.md
  contrib/android/build.sh
  contrib/build-linux/appimage/Dockerfile
  contrib/build-linux/appimage/README.md
  contrib/build-linux/appimage/build.sh
  contrib/build-linux/sdist/Dockerfile
  contrib/build-linux/sdist/README.md
  contrib/build-linux/sdist/build.sh
  contrib/build-wine/Dockerfile
  contrib/build-wine/README.md
  contrib/build-wine/build-electrum-git.sh
  contrib/build-wine/build.sh
  contrib/build-wine/make_win.sh
  contrib/docker_notes.md
  contrib/make_libusb.sh
Labels: build/packaging 📦

#7712 android build: add Qt/QML build-time dependencies
  contrib/deterministic-build/README.md
  contrib/requirements/requirements-build-android.txt
Labels: OS-android🤖, build/packaging 📦

#7718 contrib/add_cosigner: document usage process
  contrib/add_cosigner
Labels: build/packaging 📦, docs 📖

#7721 win build: bump python, wine, pyinstaller
  contrib/build-wine/Dockerfile
  contrib/build-wine/prepare-wine.sh
  contrib/deterministic-build/requirements-build-wine.txt
  contrib/requirements/requirements-build-wine.txt
Labels: build/packaging 📦

#7727 qt gui: (maybe fix) opening "Preferences" segfaults on macOS for some
  electrum/gui/qt/__init__.py
Labels: Qt ✨

#7741 build: (reproducibility) always uses `pip install` with `--no-build-isolation`
  contrib/android/Dockerfile
  contrib/build-linux/appimage/make_appimage.sh
  contrib/build-wine/build-electrum-git.sh
  contrib/build-wine/prepare-wine.sh
  contrib/deterministic-build/requirements-build-base.txt
  contrib/freeze_packages.sh
  contrib/make_packages
  contrib/osx/make_osx
  contrib/requirements/requirements-build-base.txt
Labels: build/packaging 📦, reproducible/deterministic builds
