Repository spesmilo/electrum, pull requests merged in 2022-08, with the labels that each got.

#7918 mac/win build: `pip install --no-binary :all:` in more places
  contrib/build-linux/appimage/make_appimage.sh
  contrib/build-wine/build-electrum-git.sh
  contrib/build-wine/prepare-wine.sh
  contrib/osx/make_osx
Labels: build/packaging 📦

#7942 wallet: rm `maybe_set_tx_label_based_on_invoices`, just use `get_default_label`
  electrum/gui/qt/history_list.py
  electrum/wallet.py
Labels: topic-wallet 👛

#7949 build scripts: add quotes around some paths
  contrib/make_libsecp256k1.sh
  contrib/make_libusb.sh
  contrib/make_zbar.sh
Labels: build/packaging 📦

#7955 exchange_rate: more robust spot price against temporary network issues
  electrum/exchange_rate.py
  electrum/tests/test_wallet.py
Labels: exchange rate 📈
