Repository spesmilo/electrum, pull requests merged in 2022-04, with the labels that each got.

#7747 Notes for Apple M1 build from source
  contrib/osx/notes_for_arm.md
Labels: docs 📖

#7754 wallet: "up_to_date" to wait for SPV/Verifier
  electrum/address_synchronizer.py
  electrum/gui/stdio.py
  electrum/gui/text.py
  electrum/synchronizer.py
  electrum/util.py
  electrum/verifier.py
  electrum/wallet.py
Labels: topic-wallet 👛

#7772 exchange_rate: normalise some internal types, saner Decimal conversion
  electrum/exchange_rate.py
Labels: exchange rate 📈

#7785 build appimage: bump pkg2appimage version
  contrib/build-linux/appimage/make_appimage.sh
Labels: build/packaging 📦, OS-linux 🐧

#7761 add `version_info` command
  electrum/__init__.py
  electrum/commands.py
  electrum/crypto.py
  electrum/daemon.py
  electrum/ecc_fast.py
  electrum/gui/__init__.py
  electrum/gui/kivy/__init__.py
  electrum/gui/qt/__init__.py
  electrum/plugin.py
  electrum/qrscanner.py
Labels: CLI/RPC ▶
