Repository spesmilo/electrum, pull requests merged in 2023-04, with the labels that each got.

#8291 Add vendor/device IDs for DIY Jade running on M5StickC-Plus
  electrum/plugins/jade/jade.py
Labels: hw-jade

#8308 Add support for Ledger Stax
  contrib/udev/20-hw1.rules
  electrum/plugins/ledger/ledger.py
Labels: hw-ledger

#8309 remove PATH manipulation from .desktop file
  electrum.desktop
Labels: OS-linux 🐧

#8318 qt bump fee: disallow targeting an abs fee. only allow setting feerate
  electrum/gui/qt/rbf_dialog.py
Labels: topic-wallet 👛, gui-qt-desktop

#8329 README: refer to `libsecp256k1-dev` instead of `libsecp256k1-0`
  README.md
Labels: docs 📖
