Repository spesmilo/electrum, pull requests merged in 2023-09, with the labels that each got.

#8609 getconfig/setconfig to use configvars
  electrum/commands.py
  electrum/plugin.py
  electrum/simple_config.py
  electrum/tests/test_simple_config.py
Labels: CLI/RPC ▶, topic-config

#8619 config: move tooltips from Qt gui into configvars
  electrum/gui/messages.py
  electrum/gui/qt/address_list.py
  electrum/gui/qt/confirm_tx_dialog.py
  electrum/gui/qt/history_list.py
  electrum/gui/qt/my_treeview.py
  electrum/gui/qt/new_channel_dialog.py
  electrum/gui/qt/receive_tab.py
  electrum/gui/qt/settings_dialog.py
  electrum/gui/qt/swap_dialog.py
  electrum/gui/qt/transaction_dialog.py
  electrum/gui/qt/util.py
  electrum/simple_config.py
Labels: topic-config

#8560 new wizard Qt desktop client
  electrum/base_wizard.py
  electrum/gui/common_qt/__init__.py
  electrum/gui/common_qt/plugins.py
  electrum/gui/qml/components/WalletMainView.qml
  electrum/gui/qml/components/wizard/WCCosignerKeystore.qml
  electrum/gui/qml/components/wizard/WCCreateSeed.qml
  electrum/gui/qml/components/wizard/WCHaveSeed.qml
  electrum/gui/qml/components/wizard/WCScriptAndDerivation.qml
  electrum/gui/qml/qeapp.py
  electrum/gui/qml/qedaemon.py
  electrum/gui/qml/qewalletdb.py
  electrum/gui/qml/qewizard.py
  electrum/gui/qt/__init__.py
  electrum/gui/qt/installwizard.py
  electrum/gui/qt/main_window.py
  electrum/gui/qt/network_dialog.py
  electrum/gui/qt/password_dialog.py
  electrum/gui/qt/seed_dialog.py
  electrum/gui/qt/util.py
  electrum/gui/qt/wizard/__init__.py
  electrum/gui/qt/wizard/server_connect.py
  electrum/gui/qt/wizard/wallet.py
  electrum/gui/qt/wizard/wizard.py
  electrum/keystore.py
  electrum/plugins/bitbox02/bitbox02.py
  electrum/plugins/bitbox02/qt.py
  electrum/plugins/coldcard/coldcard.py
  electrum/plugins/coldcard/qt.py
  electrum/plugins/digitalbitbox/digitalbitbox.py
  electrum/plugins/digitalbitbox/qt.py
  electrum/plugins/hw_wallet/plugin.py
  electrum/plugins/hw_wallet/qt.py
  electrum/plugins/jade/jade.py
  electrum/plugins/jade/qt.py
  electrum/plugins/keepkey/keepkey.py
  electrum/plugins/keepkey/qt.py
  electrum/plugins/labels/qml.py
  electrum/plugins/ledger/ledger.py
  electrum/plugins/ledger/qt.py
  electrum/plugins/safe_t/clientbase.py
  electrum/plugins/safe_t/qt.py
  electrum/plugins/safe_t/safe_t.py
  electrum/plugins/trezor/qt.py
  electrum/plugins/trezor/trezor.py
  electrum/plugins/trustedcoin/common_qt.py
  electrum/plugins/trustedcoin/qml.py
  electrum/plugins/trustedcoin/qt.py
  electrum/plugins/trustedcoin/trustedcoin.py
  electrum/wizard.py
Labels: topic-wizard 🧙‍♂️
