Repository spesmilo/electrum, pull requests merged in 2025-05, with the labels that each got.

#9775 fix: blocked Exception_Window by setting modality
  electrum/gui/qt/exception_window.py
Labels: gui-qt-desktop

#9772 fix: don't suggest onion peers for channel opening
  electrum/channel_db.py
  electrum/lnrater.py
Labels: lightning ⚡

#9782 qt: add qr reading from file to ScanQRTextEdit and SendTab
  electrum/gui/icons/qr_file.png
  electrum/gui/qt/paytoedit.py
  electrum/gui/qt/qrreader/__init__.py
  electrum/gui/qt/qrtextedit.py
  electrum/gui/qt/send_tab.py
  electrum/gui/qt/util.py
Labels: gui-qt-desktop

#9821 followup: qt terms of use, move label in network tab
  electrum/gui/qt/wizard/server_connect.py
  electrum/gui/qt/wizard/terms_of_use.py
Labels: gui-qt-desktop

#9820 qml: add terms of use to setup wizard
  electrum/gui/qml/components/TermsOfUseWizard.qml
  electrum/gui/qml/components/main.qml
  electrum/gui/qml/components/wizard/WCProxyConfig.qml
  electrum/gui/qml/components/wizard/WCTermsOfUseRequest.qml
  electrum/gui/qml/components/wizard/WCWelcome.qml
  electrum/gui/qml/qeapp.py
  electrum/gui/qml/qeconfig.py
  electrum/gui/qml/qedaemon.py
  electrum/gui/qml/qewizard.py
Labels: gui-qml

#9753 ln: don't exclude single part configs for too small payments
  electrum/lnworker.py
  electrum/mpp_split.py
  tests/test_lnpeer.py
Labels: bug 🐞, lightning ⚡

#9243 qt,qml: show option for single server in ServerConfig
  electrum/gui/qml/components/ServerConfigDialog.qml
  electrum/gui/qml/components/controls/ServerConfig.qml
  electrum/gui/qml/components/wizard/WCServerConfig.qml
  electrum/gui/qml/qenetwork.py
  electrum/gui/qt/network_dialog.py
  electrum/gui/qt/wizard/server_connect.py
  electrum/network.py
  electrum/simple_config.py
  electrum/wizard.py
  tests/test_wizard.py
Labels: OS-android🤖, privacy 🕵️‍♂️

#9853 adb: merge `transaction_lock` and `lock`, protect more critical sections
  electrum/address_synchronizer.py
  electrum/wallet.py
Labels: topic-wallet 👛

#9871 adb.get_tx_height: return "LOCAL" height if missing full signed tx
  electrum/address_synchronizer.py
  electrum/txbatcher.py
Labels: topic-wallet 👛

#9874 adb.get_tx_height: allow future txs to be partially signed
  electrum/address_synchronizer.py
  tests/test_wallet_vertical.py
Labels: topic-wallet 👛

#9839 transaction: add method verify_sig_for_txin
  electrum/plugins/digitalbitbox/digitalbitbox.py
  electrum/plugins/ledger/ledger.py
  electrum/transaction.py
  tests/test_transaction.py
Labels: topic-transactions 📑
