Repository spesmilo/electrum, pull requests merged in 2025-07, with the labels that each got.

#10009 plugin: revealer: stop catching exceptions on noise file creation
  electrum/plugins/revealer/qt.py
Labels: plugin-revealer ⬛

#10011 i18n: syntax-check translations at runtime
  electrum/i18n.py
  tests/test_i18n.py
Labels: localization 🌍

#10013 commands: fix: only try to get wallet if wallet_path
  electrum/commands.py
Labels: CLI/RPC ▶

#10014 fix: qml: update tx label on detailsChanged signal
  electrum/gui/qml/components/WalletMainView.qml
Labels: gui-qml

#10017 fix: qml: wizard: delete seed_type from wizard_data if not set explicitly
  electrum/gui/qml/components/wizard/WCWalletType.qml
Labels: bug 🐞, topic-wizard 🧙‍♂️, gui-qml

#10045 fix: NostrTransport.update_relays() KeyError
  electrum/submarine_swaps.py
Labels: bug 🐞

#10016 wizard: qml: separate passphrase input from seed input
  electrum/gui/qml/components/wizard/WCConfirmExt.qml
  electrum/gui/qml/components/wizard/WCConfirmSeed.qml
  electrum/gui/qml/components/wizard/WCCreateSeed.qml
  electrum/gui/qml/components/wizard/WCEnterExt.qml
  electrum/gui/qml/components/wizard/WCHaveSeed.qml
  electrum/gui/qml/qewizard.py
  electrum/gui/qt/wizard/wallet.py
  electrum/plugins/trustedcoin/qml.py
  electrum/plugins/trustedcoin/qt.py
  electrum/plugins/trustedcoin/trustedcoin.py
  electrum/wizard.py
  tests/test_wizard.py
Labels: topic-wizard 🧙‍♂️, gui-qml

#10080 fix: remove .desktop from setDesktopFileName argument
  electrum/gui/qt/__init__.py
Labels: gui-qt-desktop

#10091 wallet: don't spend reserve utxo to create new reserve utxo
  electrum/gui/qml/qetxfinalizer.py
  electrum/gui/qt/confirm_tx_dialog.py
  electrum/wallet.py
  tests/test_wallet_vertical.py
Labels: topic-wallet 👛

#10075 android build: rm blacklist.txt
  contrib/android/Makefile
  contrib/android/blacklist.txt
Labels: OS-android🤖, build/packaging 📦
