Repository spesmilo/electrum, pull requests merged in 2025-09, with the labels that each got.

#10204 qt confirm_tx_dialog: fix wallet.get_candidates_for_batching
  electrum/gui/qt/send_tab.py
  electrum/wallet.py
  tests/test_wallet_vertical.py
Labels: topic-wallet 👛

#10226 wallet: fix AttributeError when getting help text
  electrum/wallet.py
Labels: bug 🐞

#10234 wallet: anchor reserve: handle wallet.use_change being off
  electrum/wallet.py
  tests/test_wallet_vertical.py
Labels: topic-wallet 👛

#10235 ci: fix appimage build
  .cirrus.yml
  contrib/android/Dockerfile
  contrib/android/build.sh
  contrib/build-linux/appimage/Dockerfile
  contrib/build-linux/appimage/build.sh
  contrib/build-linux/appimage/make_type2_runtime.sh
  contrib/build-linux/sdist/Dockerfile
  contrib/build-linux/sdist/build.sh
  contrib/build-wine/Dockerfile
  contrib/build-wine/build.sh
Labels: build/packaging 📦
